In [2]:
import pandas as pd

In [5]:
file = "./SRR11815065/SRR11815065ReadsPerGene.out.tab"
df = pd.read_csv(file, sep = "\t", header = None)
df = df.iloc[4:,0:2]
df.to_csv('Annotation_XBP1.csv')

In [6]:
file = "./SRR11815066/SRR11815066ReadsPerGene.out.tab"
df = pd.read_csv(file, sep = "\t", header = None)
df = df.iloc[4:,0:2]
df.to_csv('Annotation_XBP1_2.csv')

In [1]:
file = "./SRR11815065/SRR11815065ReadsPerGene.out.tab"

df = pd.read_csv(file, sep = "\t", header = None)
annot = df.iloc[4:,0:1]
#df['']
annot = annot.reset_index(drop = True)
annot.columns = ['Gene_ID']
annot

NameError: name 'pd' is not defined

In [ ]:
file = "./SRR11815065/SRR11815065ReadsPerGene.out.tab"
df = pd.read_csv(file, sep = "\t", header = None)
quant = df.iloc[4:,1:2]
quant = quant.reset_index(drop = True)

quant

In [29]:
#WT
frames = [annot]
srx = ['SRR11815062','SRR11815063','SRR11815064','SRR11815065','SRR11815066','SRR11815067','SRR11815068','SRR11815069','SRR11815070','SRR11815071','SRR11815072','SRR11815073','SRR11815074','SRR11815075','SRR11815076','SRR11815077','SRR11815078',
      'SRR11815079','SRR11815080','SRR11815081','SRR11815082','SRR11815083','SRR11815084','SRR11815085','SRR11815086','SRR11815087','SRR11815088','SRR11815089','SRR11815090','SRR11815091','SRR11815092',
       'SRR11815093','SRR11815094','SRR11815095','SRR11815096','SRR11815097','SRR11815098','SRR11815099','SRR11815100','SRR11815101','SRR11815102','SRR11815103','SRR11815104','SRR11815105','SRR11815106',
      'SRR11815107', 'SRR11815108', 'SRR11815109']
for i in srx:
    file = f"./{i}/{i}ReadsPerGene.out.tab"
    df = pd.read_csv(file, sep = "\t", header = None)
    quant = df.iloc[4:,1:2]
    quant = quant.reset_index(drop = True)
    frames.append(quant)

WT = pd.concat(frames,axis=1, ignore_index=True)
WT

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,Gm26206,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Xkr4,1,0,1,1,1,1,2,3,1,...,0,0,0,0,1,2,1,0,0,1
2,LOC118567655,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rp1,0,0,0,0,0,0,2,0,3,...,0,0,0,0,8,0,0,0,0,0
4,Sox17,78,88,69,75,42,42,38,22,96,...,70,78,88,83,112,82,52,71,53,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40182,ND6,40238,39798,30749,36206,27318,26951,30620,20015,63717,...,23356,30335,29653,32904,44601,31079,36143,30434,29490,25238
40183,TrnE,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40184,CYTB,393686,397694,263043,324349,233544,238351,247750,170416,505103,...,218186,283388,286319,328883,305894,289725,302201,269534,286702,258092
40185,TrnT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40186,TrnP,2284,2271,1440,1654,1086,964,1175,900,2498,...,1290,1494,1360,1430,1401,1294,1367,1341,1267,1002

In [31]:
WT.columns = ['Gene_ID','WT_00_rep1', 'WT_00_rep2', 'WT_02_rep1', 'WT_02_rep2',
             'WT_04_rep1', 'WT_04_rep2', 'WT_06_rep1', 'WT_06_rep2',
             'WT_08_rep1', 'WT_08_rep2', 'WT_10_rep1', 'WT_10_rep2',
             'WT_12_rep1', 'WT_12_rep2', 'WT_14_rep1', 'WT_14_rep2',
             'WT_16_rep1', 'WT_16_rep2', 'WT_18_rep1', 'WT_18_rep2',
             'WT_20_rep1', 'WT_20_rep2', 'WT_22_rep1', 'WT_22_rep2',
             'WT_24_rep1', 'WT_24_rep2', 'WT_26_rep1', 'WT_26_rep2',
             'WT_28_rep1', 'WT_28_rep2', 'WT_30_rep1', 'WT_30_rep2',
             'WT_32_rep1', 'WT_32_rep2', 'WT_34_rep1', 'WT_34_rep2',
             'WT_36_rep1', 'WT_36_rep2', 'WT_38_rep1', 'WT_38_rep2',
             'WT_40_rep1', 'WT_40_rep2', 'WT_42_rep1', 'WT_42_rep2',
             'WT_44_rep1', 'WT_44_rep2', 'WT_46_rep1', 'WT_46_rep2']
WT

,Gene_ID,WT_00_rep1,WT_00_rep2,WT_02_rep1,WT_02_rep2,WT_04_rep1,WT_04_rep2,WT_06_rep1,WT_06_rep2,WT_08_rep1,...,WT_38_rep1,WT_38_rep2,WT_40_rep1,WT_40_rep2,WT_42_rep1,WT_42_rep2,WT_44_rep1,WT_44_rep2,WT_46_rep1,WT_46_rep2
0,Gm26206,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Xkr4,1,0,1,1,1,1,2,3,1,...,0,0,0,0,1,2,1,0,0,1
2,LOC118567655,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rp1,0,0,0,0,0,0,2,0,3,...,0,0,0,0,8,0,0,0,0,0
4,Sox17,78,88,69,75,42,42,38,22,96,...,70,78,88,83,112,82,52,71,53,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40182,ND6,40238,39798,30749,36206,27318,26951,30620,20015,63717,...,23356,30335,29653,32904,44601,31079,36143,30434,29490,25238
40183,TrnE,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40184,CYTB,393686,397694,263043,324349,233544,238351,247750,170416,505103,...,218186,283388,286319,328883,305894,289725,302201,269534,286702,258092
40185,TrnT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40186,TrnP,2284,2271,1440,1654,1086,964,1175,900,2498,...,1290,1494,1360,1430,1401,1294,1367,1341,1267,1002

In [56]:
#KO
frames = [annot]
srx = ['SRR11815110','SRR11815111','SRR11815112','SRR11815113','SRR11815114','SRR11815115','SRR11815116','SRR11815117','SRR11815118','SRR11815119','SRR11815120','SRR11815121','SRR11815122','SRR11815123','SRR11815124'
      ,'SRR11815125','SRR11815126','SRR11815127','SRR11815128','SRR11815129','SRR11815130','SRR11815131','SRR11815132','SRR11815133','SRR11815134','SRR11815135','SRR11815136','SRR11815137','SRR11815138','SRR11815139',
       'SRR11815140','SRR11815141','SRR11815142','SRR11815143','SRR11815144','SRR11815145','SRR11815146','SRR11815147','SRR11815148','SRR11815149','SRR11815150','SRR11815151','SRR11815152','SRR11815153','SRR11815154','SRR11815155',
      'SRR11815156','SRR11815157']
for i in srx:
    file = f"./{i}/{i}ReadsPerGene.out.tab"
    df = pd.read_csv(file, sep = "\t", header = None)
    quant = df.iloc[4:,1:2]
    quant = quant.reset_index(drop = True)
    frames.append(quant)

KO = pd.concat(frames,axis=1, ignore_index=True)
KO

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,Gm26206,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Xkr4,0,2,0,2,3,2,2,2,1,...,1,7,2,3,0,2,0,1,2,2
2,LOC118567655,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rp1,0,1,0,0,0,0,0,0,0,...,8,5,2,0,0,0,0,0,0,0
4,Sox17,77,49,46,79,69,31,41,25,45,...,116,129,82,75,50,78,62,83,91,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40182,ND6,34035,18334,24659,33375,46184,34478,47307,23510,43185,...,40276,46241,41157,38534,46984,51911,43573,48886,39601,47565
40183,TrnE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
40184,CYTB,271258,141519,184407,303453,338306,270032,323396,168643,333204,...,351316,391716,368792,304001,338110,366170,344099,370001,327213,388370
40185,TrnT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40186,TrnP,2158,1223,1217,1596,1731,1359,1911,1072,1489,...,1756,2164,1755,1891,1949,2268,2029,2123,2007,2302

In [57]:
KO.columns = ['Gene_ID','KO_00_rep1', 'KO_00_rep2', 'KO_02_rep1', 'KO_02_rep2',
             'KO_04_rep1', 'KO_04_rep2', 'KO_06_rep1', 'KO_06_rep2',
             'KO_08_rep1', 'KO_08_rep2', 'KO_10_rep1', 'KO_10_rep2',
             'KO_12_rep1', 'KO_12_rep2', 'KO_14_rep1', 'KO_14_rep2',
             'KO_16_rep1', 'KO_16_rep2', 'KO_18_rep1', 'KO_18_rep2',
             'KO_20_rep1', 'KO_20_rep2', 'KO_22_rep1', 'KO_22_rep2',
             'KO_24_rep1', 'KO_24_rep2', 'KO_26_rep1', 'KO_26_rep2',
             'KO_28_rep1', 'KO_28_rep2', 'KO_30_rep1', 'KO_30_rep2',
             'KO_32_rep1', 'KO_32_rep2', 'KO_34_rep1', 'KO_34_rep2',
             'KO_36_rep1', 'KO_36_rep2', 'KO_38_rep1', 'KO_38_rep2',
             'KO_40_rep1', 'KO_40_rep2', 'KO_42_rep1', 'KO_42_rep2',
             'KO_44_rep1', 'KO_44_rep2', 'KO_46_rep1', 'KO_46_rep2',]
KO

,Gene_ID,KO_00_rep1,KO_00_rep2,KO_02_rep1,KO_02_rep2,KO_04_rep1,KO_04_rep2,KO_06_rep1,KO_06_rep2,KO_08_rep1,...,KO_38_rep1,KO_38_rep2,KO_40_rep1,KO_40_rep2,KO_42_rep1,KO_42_rep2,KO_44_rep1,KO_44_rep2,KO_46_rep1,KO_46_rep2
0,Gm26206,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Xkr4,0,2,0,2,3,2,2,2,1,...,1,7,2,3,0,2,0,1,2,2
2,LOC118567655,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rp1,0,1,0,0,0,0,0,0,0,...,8,5,2,0,0,0,0,0,0,0
4,Sox17,77,49,46,79,69,31,41,25,45,...,116,129,82,75,50,78,62,83,91,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40182,ND6,34035,18334,24659,33375,46184,34478,47307,23510,43185,...,40276,46241,41157,38534,46984,51911,43573,48886,39601,47565
40183,TrnE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
40184,CYTB,271258,141519,184407,303453,338306,270032,323396,168643,333204,...,351316,391716,368792,304001,338110,366170,344099,370001,327213,388370
40185,TrnT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40186,TrnP,2158,1223,1217,1596,1731,1359,1911,1072,1489,...,1756,2164,1755,1891,1949,2268,2029,2123,2007,2302

In [60]:
#Normalized?
norm_1 = KO.iloc[:,1:]/KO.iloc[:,1:].sum(axis=0)*1000000
KO_final = pd.concat([annot,norm_1], axis =1)
KO_final

,Gene_ID,KO_00_rep1,KO_00_rep2,KO_02_rep1,KO_02_rep2,KO_04_rep1,KO_04_rep2,KO_06_rep1,KO_06_rep2,KO_08_rep1,...,KO_38_rep1,KO_38_rep2,KO_40_rep1,KO_40_rep2,KO_42_rep1,KO_42_rep2,KO_44_rep1,KO_44_rep2,KO_46_rep1,KO_46_rep2
0,Gm26206,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Xkr4,0.000000,0.210742,0.000000,0.105159,0.155490,0.134623,0.109299,0.201283,0.056977,...,0.053634,0.320228,0.108366,0.199695,0.000000,0.099405,0.000000,0.050267,0.108661,0.089710
2,LOC118567655,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Rp1,0.000000,0.105371,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.429076,0.228734,0.108366,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Sox17,3.623835,5.163176,3.889946,4.153800,3.576266,2.086650,2.240620,2.516037,2.563943,...,6.221599,5.901349,4.442987,4.992367,2.844057,3.876776,3.439002,4.172173,4.944060,4.844319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40182,ND6,1601.781985,1931.870939,2085.264741,1754.849128,2393.714023,2320.758776,2585.293170,2366.081403,2460.530801,...,2160.181920,2115.381888,2229.999977,2565.011431,2672.503886,2580.093562,2416.897080,2457.359638,2151.535209,2133.518949
40183,TrnE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.055468,0.050267,0.000000,0.000000
40184,CYTB,12766.157714,14911.991024,15594.201511,15955.482619,17534.380226,18176.203196,17673.356375,16972.482604,18984.802711,...,18842.647513,17919.788320,19982.169536,20235.792806,19232.085154,18199.473325,19086.403696,18598.893821,17777.588708,17420.261832
40185,TrnT,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
40186,TrnP,101.561496,128.868668,102.914441,83.917280,89.717629,91.476048,104.434761,107.887676,84.838031,...,94.182130,98.996268,95.090749,125.874205,110.861359,112.724706,112.544102,106.717148,109.040963,103.255768

In [61]:
WT

,Gene_ID,WT_00_rep1,WT_00_rep2,WT_02_rep1,WT_02_rep2,WT_04_rep1,WT_04_rep2,WT_06_rep1,WT_06_rep2,WT_08_rep1,...,WT_38_rep1,WT_38_rep2,WT_40_rep1,WT_40_rep2,WT_42_rep1,WT_42_rep2,WT_44_rep1,WT_44_rep2,WT_46_rep1,WT_46_rep2
0,Gm26206,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Xkr4,1,0,1,1,1,1,2,3,1,...,0,0,0,0,1,2,1,0,0,1
2,LOC118567655,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rp1,0,0,0,0,0,0,2,0,3,...,0,0,0,0,8,0,0,0,0,0
4,Sox17,78,88,69,75,42,42,38,22,96,...,70,78,88,83,112,82,52,71,53,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40182,ND6,40238,39798,30749,36206,27318,26951,30620,20015,63717,...,23356,30335,29653,32904,44601,31079,36143,30434,29490,25238
40183,TrnE,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40184,CYTB,393686,397694,263043,324349,233544,238351,247750,170416,505103,...,218186,283388,286319,328883,305894,289725,302201,269534,286702,258092
40185,TrnT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40186,TrnP,2284,2271,1440,1654,1086,964,1175,900,2498,...,1290,1494,1360,1430,1401,1294,1367,1341,1267,1002

In [62]:
norm_2 = WT.iloc[:,1:]/WT.iloc[:,1:].sum(axis=0)*1000000
WT_final = pd.concat([annot,norm_2], axis =1)
WT_final

,Gene_ID,WT_00_rep1,WT_00_rep2,WT_02_rep1,WT_02_rep2,WT_04_rep1,WT_04_rep2,WT_06_rep1,WT_06_rep2,WT_08_rep1,...,WT_38_rep1,WT_38_rep2,WT_40_rep1,WT_40_rep2,WT_42_rep1,WT_42_rep2,WT_44_rep1,WT_44_rep2,WT_46_rep1,WT_46_rep2
0,Gm26206,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Xkr4,0.040172,0.000000,0.053817,0.044512,0.069676,0.077269,0.133418,0.269362,0.035253,...,0.000000,0.000000,0.000000,0.000000,0.071289,0.122328,0.053358,0.000000,0.000000,0.069255
2,LOC118567655,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Rp1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.133418,0.000000,0.105760,...,0.000000,0.000000,0.000000,0.000000,0.570313,0.000000,0.000000,0.000000,0.000000,0.000000
4,Sox17,3.133421,3.459783,3.713404,3.338405,2.926372,3.245278,2.534936,1.975318,3.384309,...,4.509863,3.957809,4.981292,4.439684,7.984375,5.015468,2.774626,4.383644,2.987353,3.185732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40182,ND6,1616.443746,1564.686691,1654.832926,1611.603976,1903.395734,2082.463901,2042.624953,1797.090644,2246.229272,...,1504.747887,1539.232492,1678.525633,1760.040344,3179.563536,1900.923470,1928.525205,1879.039821,1662.208371,1747.858617
40183,TrnE,0.040172,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.071289,0.000000,0.000000,0.000000,0.000000,0.000000
40184,CYTB,15815.181483,15635.622614,14156.304833,14437.445119,16272.298604,18417.029178,16527.117314,15301.174075,17806.506017,...,14056.984176,14379.430272,16207.256622,17592.005489,21806.896889,17720.809947,16124.899580,16641.424697,16160.002182,17874.170939
40185,TrnT,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
40186,TrnP,91.753007,89.285981,77.497135,73.622962,75.667610,74.486854,78.382897,80.808473,88.062538,...,83.110326,75.807264,76.983606,76.490934,99.875978,79.146529,72.940651,82.795308,71.414649,69.393547

In [66]:
# Purge
df2 = KO_final.iloc[:,1:].applymap(lambda x: 1 if float(x) > 20 else 0)
idx = df2[(df2 != 0).all(1)].index.to_numpy()  
clone_KO = KO_final.iloc[idx,:]
clone_KO =clone_KO.reset_index(drop=True)
clone_KO

,Gene_ID,KO_00_rep1,KO_00_rep2,KO_02_rep1,KO_02_rep2,KO_04_rep1,KO_04_rep2,KO_06_rep1,KO_06_rep2,KO_08_rep1,...,KO_38_rep1,KO_38_rep2,KO_40_rep1,KO_40_rep2,KO_42_rep1,KO_42_rep2,KO_44_rep1,KO_44_rep2,KO_46_rep1,KO_46_rep2
0,Mrpl15,46.403909,48.154523,49.892785,51.843633,46.802437,48.598754,50.933123,46.898934,50.139333,...,55.618946,53.615354,53.424204,57.378934,50.510460,51.491532,47.924152,47.050047,52.972067,52.569835
1,Lypla1,125.281141,158.583275,154.752199,127.242993,156.785573,157.171870,148.864620,140.696801,151.101718,...,169.431291,163.636621,151.224092,169.341077,169.392061,168.937952,172.171954,180.810920,161.143745,162.374405
2,Tcea1,44.286083,45.309507,45.326327,41.222523,41.982253,44.762010,41.260201,41.263010,41.478903,...,44.194803,50.687553,41.124717,52.652827,44.481058,45.079942,43.764069,48.558062,47.756356,46.065888
3,Atp6v1h,31.673256,38.671137,32.810849,37.752260,35.451680,31.434374,35.685975,37.337992,39.826584,...,34.111523,32.571785,32.076196,30.619849,33.161710,31.958548,29.897127,29.808417,30.316321,36.466959
4,Rb1cc1,45.509716,44.466540,42.535714,36.069708,41.671273,49.069933,45.249598,40.357237,43.871917,...,45.428396,47.073549,40.745438,47.261071,41.409476,46.968627,49.310846,45.089629,47.267383,44.047422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4661,ND4,4985.502308,6010.780291,5967.769091,5761.636332,6365.183299,6600.343503,6239.143580,6066.568306,6762.257685,...,6710.423098,6336.310083,6760.870986,7251.911827,6991.205094,6619.345816,6799.627345,6625.762615,6513.336709,6380.551601
4662,ND5,6606.627099,8556.963850,7149.044211,6421.722503,9498.562419,9640.188827,9651.280255,8815.389291,9175.042167,...,8838.424335,8627.085543,8795.271189,10591.206046,10315.339418,9957.547816,10279.175935,10591.438198,9328.516841,9210.889994
4663,ND6,1601.781985,1931.870939,2085.264741,1754.849128,2393.714023,2320.758776,2585.293170,2366.081403,2460.530801,...,2160.181920,2115.381888,2229.999977,2565.011431,2672.503886,2580.093562,2416.897080,2457.359638,2151.535209,2133.518949
4664,CYTB,12766.157714,14911.991024,15594.201511,15955.482619,17534.380226,18176.203196,17673.356375,16972.482604,18984.802711,...,18842.647513,17919.788320,19982.169536,20235.792806,19232.085154,18199.473325,19086.403696,18598.893821,17777.588708,17420.261832
4665,TrnP,101.561496,128.868668,102.914441,83.917280,89.717629,91.476048,104.434761,107.887676,84.838031,...,94.182130,98.996268,95.090749,125.874205,110.861359,112.724706,112.544102,106.717148,109.040963,103.255768

In [67]:
df2 = WT_final.iloc[:,1:].applymap(lambda x: 1 if float(x) > 20 else 0)
idx = df2[(df2 != 0).all(1)].index.to_numpy()  
clone_WT = WT_final.iloc[idx,:]
clone_WT = clone_WT.reset_index(drop=True)
clone_WT

,Gene_ID,WT_00_rep1,WT_00_rep2,WT_02_rep1,WT_02_rep2,WT_04_rep1,WT_04_rep2,WT_06_rep1,WT_06_rep2,WT_08_rep1,...,WT_38_rep1,WT_38_rep2,WT_40_rep1,WT_40_rep2,WT_42_rep1,WT_42_rep2,WT_44_rep1,WT_44_rep2,WT_46_rep1,WT_46_rep2
0,Mrpl15,39.408801,40.377236,40.524544,43.354755,42.780767,40.797779,45.495435,39.596152,41.457784,...,48.384384,47.392225,43.359884,45.306169,33.006837,45.078046,39.058198,44.639081,41.090197,43.492163
1,Lypla1,137.267963,140.396406,136.642518,134.337425,128.272624,119.379864,136.819849,130.191428,124.056073,...,146.119550,139.030724,131.155158,133.778899,216.932621,129.240043,143.533542,137.806955,118.028631,114.409321
2,Tcea1,40.654135,38.804607,43.161599,41.396224,37.415752,37.243427,35.155563,37.620833,34.689166,...,43.616814,42.267370,36.737029,38.512918,41.205079,34.190811,36.390288,34.636963,36.919175,37.051445
3,Atp6v1h,32.659893,34.322616,38.802385,34.808438,35.046784,36.007131,34.421766,38.788067,33.067518,...,33.244130,32.119142,29.661330,31.987118,60.595704,25.933639,27.319395,28.401075,32.748154,32.757632
4,Rb1cc1,35.672798,36.131139,38.533298,35.253559,38.669911,37.552501,43.961131,38.967641,42.303861,...,41.039750,40.237724,38.491803,34.982567,52.753907,29.848150,38.257825,41.428525,37.482827,36.151129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4333,ND4,6019.784664,5672.313609,5182.728558,5261.059502,5785.506434,6574.623890,6054.695252,5658.388826,6599.155580,...,5255.600653,5330.407532,5929.265991,6441.392486,8000.557766,6664.394619,6064.852403,6251.385324,5927.134061,6609.839215
4334,ND5,7051.845310,6958.094641,7316.859739,7055.786131,7195.390491,7247.709974,8683.424152,6986.700542,8444.344247,...,6951.631143,7067.327506,6955.298960,6841.498910,12579.882069,6807.396616,8148.810027,7911.489902,6588.804595,6818.920171
4335,ND6,1616.443746,1564.686691,1654.832926,1611.603976,1903.395734,2082.463901,2042.624953,1797.090644,2246.229272,...,1504.747887,1539.232492,1678.525633,1760.040344,3179.563536,1900.923470,1928.525205,1879.039821,1662.208371,1747.858617
4336,CYTB,15815.181483,15635.622614,14156.304833,14437.445119,16272.298604,18417.029178,16527.117314,15301.174075,17806.506017,...,14056.984176,14379.430272,16207.256622,17592.005489,21806.896889,17720.809947,16124.899580,16641.424697,16160.002182,17874.170939
4337,TrnP,91.753007,89.285981,77.497135,73.622962,75.667610,74.486854,78.382897,80.808473,88.062538,...,83.110326,75.807264,76.983606,76.490934,99.875978,79.146529,72.940651,82.795308,71.414649,69.393547

In [71]:
# Shuffle the column
day_1 = clone_WT[clone_WT.columns[::2]] 
day_2 = clone_WT[clone_WT.columns[1::2]]
WT_arrange = pd.concat([day_1,day_2], axis =1)
WT_arrange

,Gene_ID,WT_00_rep2,WT_02_rep2,WT_04_rep2,WT_06_rep2,WT_08_rep2,WT_10_rep2,WT_12_rep2,WT_14_rep2,WT_16_rep2,...,WT_28_rep1,WT_30_rep1,WT_32_rep1,WT_34_rep1,WT_36_rep1,WT_38_rep1,WT_40_rep1,WT_42_rep1,WT_44_rep1,WT_46_rep1
0,Mrpl15,40.377236,43.354755,40.797779,39.596152,40.740746,47.586164,47.061797,43.627906,46.629597,...,35.672301,38.059948,40.422806,42.941780,42.022318,48.384384,43.359884,33.006837,39.058198,41.090197
1,Lypla1,140.396406,134.337425,119.379864,130.191428,131.307785,109.982637,133.934722,134.526873,133.920591,...,123.856003,132.925787,125.364336,133.387905,150.588211,146.119550,131.155158,216.932621,143.533542,118.028631
2,Tcea1,38.804607,41.396224,37.243427,37.620833,35.981650,37.669697,34.136691,41.424022,39.788002,...,37.814117,37.176300,37.789716,35.963741,41.923442,43.616814,36.737029,41.205079,36.390288,36.919175
3,Atp6v1h,34.322616,34.808438,36.007131,38.788067,34.827930,31.874359,35.487747,35.846846,39.351304,...,33.308919,30.927652,34.864061,34.246070,36.781887,33.244130,29.661330,60.595704,27.319395,32.748154
4,Rb1cc1,36.131139,35.253559,37.552501,38.967641,36.125865,42.499146,40.666797,39.894796,32.315621,...,44.091851,46.012772,43.787310,46.591832,48.548136,41.039750,38.491803,52.753907,38.257825,37.482827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4333,ND4,5672.313609,5261.059502,6574.623890,5658.388826,6489.532152,5342.013805,5403.685060,5364.118503,5331.349626,...,5145.452516,5350.168243,5503.450445,5729.668073,4994.772671,5255.600653,5929.265991,8000.557766,6064.852403,5927.134061
4334,ND5,6958.094641,7055.786131,7247.709974,6986.700542,7323.960318,6051.170001,7327.184015,7161.318365,7280.622059,...,8153.964312,8951.409313,7116.510571,7759.096612,7242.768911,6951.631143,6955.298960,12579.882069,8148.810027,6588.804595
4335,ND6,1564.686691,1611.603976,2082.463901,1797.090644,2066.889815,1860.754254,2042.166740,1646.975938,1754.990531,...,1855.255095,2019.638807,1695.271044,1930.930830,1632.740072,1504.747887,1678.525633,3179.563536,1928.525205,1662.208371
4336,CYTB,15635.622614,14437.445119,18417.029178,15301.174075,17268.235630,13569.977161,14719.533983,14694.103612,15358.168681,...,14447.134351,15019.982735,14941.809932,14752.541281,13769.329216,14056.984176,16207.256622,21806.896889,16124.899580,16160.002182
4337,TrnP,89.285981,73.622962,74.486854,80.808473,91.288114,93.369335,89.439932,80.869046,65.553159,...,81.610545,92.278015,88.842403,102.952918,83.253627,83.110326,76.983606,99.875978,72.940651,71.414649

In [72]:
day_1 = clone_KO[clone_KO.columns[::2]] 
day_2 = clone_KO[clone_KO.columns[1::2]]
KO_arrange = pd.concat([day_1,day_2], axis =1)
KO_arrange

,Gene_ID,KO_00_rep2,KO_02_rep2,KO_04_rep2,KO_06_rep2,KO_08_rep2,KO_10_rep2,KO_12_rep2,KO_14_rep2,KO_16_rep2,...,KO_28_rep1,KO_30_rep1,KO_32_rep1,KO_34_rep1,KO_36_rep1,KO_38_rep1,KO_40_rep1,KO_42_rep1,KO_44_rep1,KO_46_rep1
0,Mrpl15,48.154523,51.843633,48.598754,46.898934,51.120625,47.356562,51.289580,56.561777,46.839789,...,44.700026,42.815326,47.278606,51.573009,51.367815,55.618946,53.424204,50.510460,47.924152,52.972067
1,Lypla1,158.583275,127.242993,157.171870,140.696801,142.797757,150.772187,144.661469,148.070495,145.449871,...,166.015527,163.347302,160.639808,138.395162,175.133618,169.431291,151.224092,169.392061,172.171954,161.143745
2,Tcea1,45.309507,41.222523,44.762010,41.263010,40.617219,42.498109,43.212036,43.539724,42.965821,...,46.171631,45.206608,40.630052,43.638700,50.071838,44.194803,41.124717,44.481058,43.764069,47.756356
3,Atp6v1h,38.671137,37.752260,31.434374,37.337992,38.006546,36.465086,33.722334,37.914551,27.469951,...,29.156190,33.762618,33.645712,36.159638,29.866379,34.111523,32.076196,33.161710,29.897127,30.316321
4,Rb1cc1,44.466540,36.069708,49.069933,40.357237,42.074339,48.637912,39.935829,39.996308,38.387496,...,55.093241,53.633028,60.239928,41.622605,54.784482,45.428396,40.745438,41.409476,49.310846,47.267383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4661,ND4,6010.780291,5761.636332,6600.343503,6066.568306,6978.086798,6077.176246,6027.316446,6273.396511,7880.178185,...,7652.809935,6055.635784,7197.361854,7027.846824,7701.048740,6710.423098,6760.870986,6991.205094,6799.627345,6513.336709
4662,ND5,8556.963850,6421.722503,9640.188827,8815.389291,8516.137634,8752.955447,7869.278903,7176.347486,11715.846244,...,14756.710913,11633.356874,10255.360884,9123.935209,14416.683701,8838.424335,8795.271189,10315.339418,10279.175935,9328.516841
4663,ND6,1931.870939,1754.849128,2320.758776,2366.081403,2353.491596,2138.359642,2206.694635,1860.647726,2927.662901,...,3451.651358,2726.573355,2441.966854,2391.023565,3382.794492,2160.181920,2229.999977,2672.503886,2416.897080,2151.535209
4664,CYTB,14911.991024,15955.482619,18176.203196,16972.482604,20002.067896,17585.247817,17225.673191,17969.769701,25156.928701,...,23960.041488,17275.471760,19350.515525,19314.254572,22454.745367,18842.647513,19982.169536,19232.085154,19086.403696,17777.588708
4665,TrnP,128.868668,83.917280,91.476048,107.887676,82.570131,73.624237,94.275671,89.604131,90.950192,...,120.303773,107.949280,113.898460,112.641175,130.775860,94.182130,95.090749,110.861359,112.544102,109.040963

In [74]:
KO_arrange.to_csv('KO_arrange.csv',index=False)

In [81]:
import numpy as np
np.arange(0,95,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66,
       68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94])